<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/java.js" type="module"></script>
  <title>Add Course</title>
</head>
<header>
    <button class="menu-btn open" id="open-menu"  aria-label="Open Menu">
      <span class="menu-icon">
          <span class="bars"></span>
          <span class="bars"></span>
          <span class="bars"></span>
      </span>
  </button>
  <nav id="nav-menu">
      <button class="menu-btn close" id="close-menu">
          <span>X</span>
      </button>
      
      <ul>
          
          <li><a href="/"> COURSES</a></li>
          <li><a href="/add"> ADD COURSE</a></li>
          <li><a href="/about"> ABOUT </a></li>
      </ul>
  </nav>
  </header>
  <h1>Add Course</h1>
  <form action="/add" method="POST">
    <div class="form-group">
      <label for="coursecode">Course Code:</label>
      <input type="text" id="coursecode" name="CourseCode" value="<%= data.CourseCode %>">
      <% if (errors.some(error => error.param === 'CourseCode')) { %>
        <span class="error-message"><%= errors.find(error => error.param === 'CourseCode').msg %></span>
      <% } %>
    </div>
    
    <div class="form-group">
      <label for="coursename">Course Name:</label>
      <input type="text" id="coursename" name="CourseName" value="<%= data.CourseName %>">
      <% if (errors.some(error => error.param === 'CourseName')) { %>
        <span class="error-message"><%= errors.find(error => error.param === 'CourseName').msg %></span>
      <% } %>
    </div>
    
    <div class="form-group">
      <label for="progression">Progression:</label>
      <input type="text" id="progression" name="Progression" value="<%= data.Progression %>">
      <% if (errors.some(error => error.param === 'Progression')) { %>
        <span class="error-message"><%= errors.find(error => error.param === 'Progression').msg %></span>
      <% } %>
    </div>
    
    <div class="form-group">
      <label for="syllabus">Syllabus (URL):</label>
      <input type="text" id="syllabus" name="Syllabus" value="<%= data.Syllabus %>">
      <% if (errors.some(error => error.param === 'Syllabus')) { %>
        <span class="error-message"><%= errors.find(error => error.param === 'Syllabus').msg %></span>
      <% } %>
    </div>
    
    <button type="submit">Add</button>
  </form>
</body>
</html>
